@if $enable-align {
  @each $breakpoint in map-keys($breakpoints) {
    $postfix: breakpoint-postfix($breakpoint);

    @include media-breakpoint-up($breakpoint) {
      .top#{$postfix}     { align-items: flex-start !important; align-content: flex-start !important; }
      .right#{$postfix}   { justify-content: flex-end !important; }
      .bottom#{$postfix}  { align-items: flex-end !important; align-content: flex-end !important; }
      .left#{$postfix}    { justify-content: flex-start !important; }
      .center#{$postfix}  { align-items: center !important; align-content: center !important; justify-content: center !important; }
      .stretch#{$postfix} { align-items: stretch !important; align-content: stretch !important; }

      .main-x-center#{$postfix}        { justify-content: center !important; }
      .main-x-space-around#{$postfix}  { justify-content: space-around !important; }
      .main-x-space-between#{$postfix} { justify-content: space-between !important; }

      .cross-x-center#{$postfix}        { align-items: center !important; align-content: center !important; }
      .cross-x-space-around#{$postfix}  { align-content: space-around !important; }
      .cross-x-space-between#{$postfix} { align-content: space-between !important; }

      .self-top#{$postfix}     { align-self: flex-start !important; }
      .self-right#{$postfix}   { margin-left: auto !important; margin-right: 0 !important; }
      .self-bottom#{$postfix}  { align-self: flex-end !important; }
      .self-left#{$postfix}    { margin-right: auto !important; margin-left: 0 !important; }
      .self-center#{$postfix}  { align-self: center !important; }
      .self-stretch#{$postfix} { align-self: stretch !important; }
    }
  }
}
