@function breakpoint-next($postfix) {
  $breakpoint-names: map-keys($breakpoints);
  $postfix-index: index($breakpoint-names, $postfix);
  @return if($postfix-index < length($breakpoint-names), nth($breakpoint-names, $postfix-index + 1), null);
}

@function breakpoint-min($postfix) {
  $min: map-get($breakpoints, $postfix);
  @return if($min != 0, $min, null);
}

@function breakpoint-max($postfix) {
  $next-postfix: breakpoint-next($postfix);
  @return if($next-postfix, breakpoint-min($next-postfix) - 1px, null);
}

@function breakpoint-postfix($postfix) {
  @return if(breakpoint-min($postfix) == null, "", "-#{$postfix}");
}
