@if $enable-helpers {
  .img-fluid {
    width: 100%;
    height: auto;
  }

  @each $breakpoint in map-keys($breakpoints) {
    $postfix: breakpoint-postfix($breakpoint);

    @include media-breakpoint-up($breakpoint) {
      .hidden#{$postfix} {
        display: none !important;
      }

      .visible#{$postfix} {
        display: block !important;
      }

      .visible-flex#{$postfix} {
        display: flex !important;
      }
    }
  }
}
