@if $enable-helpers {
  .img-fluid {
    width: 100%;
    height: auto;
  }

  @each $breakpoint in map-keys($breakpoints) {
    $prefix: breakpoint-prefix($breakpoint);

    @include media-breakpoint-up($breakpoint) {
      .#{$prefix}hidden {
        display: none !important;
      }

      .#{$prefix}visible {
        display: block !important;
      }
    }
  }
}
