.right-xs { justify-content: flex-end; }
.left-xs { justify-content: flex-start; }
.horizontal-center-xs { justify-content: center; }
.space-between-xs { justify-content: space-between; }
.space-around-xs { justify-content: space-around; }
.center-xs { justify-content: center; align-items: center; }
.none-xs { justify-content: initial; align-items: initial; }
.top-xs { align-items: flex-start; }
.bottom-xs { align-items: flex-end; }
.vertical-center-xs { align-items: center; }
.stretch-xs { align-items: stretch; }
.baseline-xs { align-items: baseline; }
.row-xs { display: flex; flex-flow: row wrap; }
.column-xs { display: flex; flex-flow: column wrap; }

.right-s { justify-content: flex-end; }
.left-s { justify-content: flex-start; }
.horizontal-center-s { justify-content: center; }
.space-between-s { justify-content: space-between; }
.space-around-s { justify-content: space-around; }
.center-s { justify-content: center; align-items: center; }
.none-s { justify-content: initial; align-items: initial; }
.top-s { align-items: flex-start; }
.bottom-s { align-items: flex-end; }
.vertical-center-s { align-items: center; }
.stretch-s { align-items: stretch; }
.baseline-s { align-items: baseline; }
.row-s { display: flex; flex-flow: row wrap; }
.column-s { display: flex; flex-flow: column wrap; }

.right-m { justify-content: flex-end; }
.left-m { justify-content: flex-start; }
.horizontal-center-m { justify-content: center; }
.space-between-m { justify-content: space-between; }
.space-around-m { justify-content: space-around; }
.center-m { justify-content: center; align-items: center; }
.none-m { justify-content: initial; align-items: initial; }
.top-m { align-items: flex-start; }
.bottom-m { align-items: flex-end; }
.vertical-center-m { align-items: center; }
.stretch-m { align-items: stretch; }
.baseline-m { align-items: baseline; }
.row-m { display: flex; flex-flow: row wrap; }
.column-m { display: flex; flex-flow: column wrap; }

.right-l { justify-content: flex-end; }
.left-l { justify-content: flex-start; }
.horizontal-center-l { justify-content: center; }
.space-between-l { justify-content: space-between; }
.space-around-l { justify-content: space-around; }
.center-l { justify-content: center; align-items: center; }
.none-l { justify-content: initial; align-items: initial; }
.top-l { align-items: flex-start; }
.bottom-l { align-items: flex-end; }
.vertical-center-l { align-items: center; }
.stretch-l { align-items: stretch; }
.baseline-l { align-items: baseline; }
.row-l { display: flex; flex-flow: row wrap; }
.column-l { display: flex; flex-flow: column wrap; }

.right-xl { justify-content: flex-end; }
.left-xl { justify-content: flex-start; }
.horizontal-center-xl { justify-content: center; }
.space-between-xl { justify-content: space-between; }
.space-around-xl { justify-content: space-around; }
.center-xl { justify-content: center; align-items: center; }
.none-xl { justify-content: initial; align-items: initial; }
.top-xl { align-items: flex-start; }
.bottom-xl { align-items: flex-end; }
.vertical-center-xl { align-items: center; }
.stretch-xl { align-items: stretch; }
.baseline-xl { align-items: baseline; }
.row-xl { display: flex; flex-flow: row wrap; }
.column-xl { display: flex; flex-flow: column wrap; }



@media (max-width: 499px) {
    .right-xs { justify-content: flex-end; }
    .left-xs { justify-content: flex-start; }
    .horizontal-center-xs { justify-content: center; }
    .space-between-xs { justify-content: space-between; }
    .space-around-xs { justify-content: space-around; }

    /**/

    .center-xs { justify-content: center; align-items: center; }

    /**/

    .top-xs { align-items: flex-start; }
    .bottom-xs { align-items: flex-end; }
    .vertical-center-xs { align-items: center; }
    .stretch-xs { align-items: stretch; }
    .baseline-xs { align-items: baseline; }

    /**/

    .row-xs { display: flex; flex-flow: row wrap; }
    .column-xs { display: flex; flex-flow: column wrap; }
}

@media (min-width: 500px) and (max-width: 768px) {
    .right-s { justify-content: flex-end; }
    .left-s { justify-content: flex-start; }
    .horizontal-center-s { justify-content: center; }
    .space-between-s { justify-content: space-between; }
    .space-around-s { justify-content: space-around; }

    /**/

    .center-s { justify-content: center; align-items: center; }

    /**/

    .top-s { align-items: flex-start; }
    .bottom-s { align-items: flex-end; }
    .vertical-center-s { align-items: center; }
    .stretch-s { align-items: stretch; }
    .baseline-s { align-items: baseline; }

    /**/

    .row-s { display: flex; flex-flow: row wrap; }
    .column-s { display: flex; flex-flow: column wrap; }
}

@media (min-width: 769px) and (max-width: 1199px) {
    .right-m { justify-content: flex-end; }
    .left-m { justify-content: flex-start; }
    .horizontal-center-m { justify-content: center; }
    .space-between-m { justify-content: space-between; }
    .space-around-m { justify-content: space-around; }

    /**/

    .center-m { justify-content: center; align-items: center; }

    /**/

    .top-m { align-items: flex-start; }
    .bottom-m { align-items: flex-end; }
    .vertical-center-m { align-items: center; }
    .stretch-m { align-items: stretch; }
    .baseline-m { align-items: baseline; }

    /**/

    .row-m { display: flex; flex-flow: row wrap; }
    .column-m { display: flex; flex-flow: column wrap; }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    .right-l { justify-content: flex-end; }
    .left-l { justify-content: flex-start; }
    .horizontal-center-l { justify-content: center; }
    .space-between-l { justify-content: space-between; }
    .space-around-l { justify-content: space-around; }

    /**/

    .center-l { justify-content: center; align-items: center; }

    /**/

    .top-l { align-items: flex-start; }
    .bottom-l { align-items: flex-end; }
    .vertical-center-l { align-items: center; }
    .stretch-l { align-items: stretch; }
    .baseline-l { align-items: baseline; }

    /**/

    .row-l { display: flex; flex-flow: row wrap; }
    .column-l { display: flex; flex-flow: column wrap; }
}

@media (min-width: 1600px) {
    .right-xl { justify-content: flex-end; }
    .left-xl { justify-content: flex-start; }
    .horizontal-center-xl { justify-content: center; }
    .space-between-xl { justify-content: space-between; }
    .space-around-xl { justify-content: space-around; }

    /**/

    .center-xl { justify-content: center; align-items: center; }

    /**/

    .top-xl { align-items: flex-start; }
    .bottom-xl { align-items: flex-end; }
    .vertical-center-xl { align-items: center; }
    .stretch-xl { align-items: stretch; }
    .baseline-xl { align-items: baseline; }

    /**/

    .row-xl { display: flex; flex-flow: row wrap; }
    .column-xl { display: flex; flex-flow: column wrap; }
}