body, html {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    background-color: #313af3;
}

.h100 {
    height: 100%;
}

.column {
    background-color: tomato;
    height: 50px;
    padding: 10px;
    text-align: center;

    &:nth-child(2n+1) {
        background-color: DarkBlue;    
    }
}